---
BasedOnStyle: InheritParentConfig
---
Language: Cpp
IncludeCategories:
  - Regex:           '^(<(boost|ftxui|gmock|gtest)/)'
    Priority:        -2
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        -3
  - Regex:           '^"(engine|uci)/'
    Priority:        -1
  - Regex:           '^"tui/'
    Priority:        0
---
