---
BasedOnStyle: InheritParentConfig
---
Language: Cpp
IncludeCategories:
  - Regex:           '^(<(boost|engine|ftxui|gmock|gtest|uci)/)'
    Priority:        2
  - Regex:           '^<tui/'
    Priority:        3
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        1
---
