---
BasedOnStyle: InheritParentConfig
---
Language: Cpp
IncludeCategories:
  - Regex:           '^<(boost|gmock|gtest|magic_bits)/?'
    Priority:        -2
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        -3
  - Regex:           '^"(tb|uci)/'
    Priority:        -1
  - Regex:           '^"engine/'
    Priority:        0
---
