---
BasedOnStyle: InheritParentConfig
---
Language: Cpp
IncludeCategories:
  - Regex:           '^<(boost|gmock|gtest)/'
    Priority:        -1
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        -2
  - Regex:           '^("uci)/'
    Priority:        0
---
