---
BasedOnStyle: InheritParentConfig
---
Language: Cpp
IncludeCategories:
  - Regex:           '^(<(boost|gmock|gtest)/)'
    Priority:        -1
  - Regex:           '<erl_nif.h>'
    Priority:        -1
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        -2
  - Regex:           '^"(engine|nn|uci)/'
    Priority:        0
---
