---
BasedOnStyle: InheritParentConfig
---
Language: Cpp
IncludeCategories:
  - Regex:           '^<(boost|erl_nif|gmock|gtest)/?'
    Priority:        -2
  - Regex:           '<[[:alnum:]._]+>'
    Priority:        -3
  - Regex:           '^"(engine|tb|uci)/'
    Priority:        -1
  - Regex:           '^"nn/'
    Priority:        0
---
